---
import { messages as m, runtime } from '@55lbs/i18n';

const makeUrlForLanguage = (lang: string) =>
  `/${lang}${Astro.url.pathname.replace(`/${runtime.languageTag()}`, '')}`;
---

<ul>
  <li>
    <a href={makeUrlForLanguage('pt-br')}
      >{m.goToLanguage(undefined, { languageTag: 'pt-br' })}</a
    >
  </li>
  <li>
    <a href={makeUrlForLanguage('en')}
      >{m.goToLanguage(undefined, { languageTag: 'en' })}</a
    >
  </li>
</ul>
