---
import { messages as m } from '@55lbs/i18n';
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@55lbs/components';
import { AstroBuiltinAttributes } from 'astro';
import * as clsx from 'clsx';

type Excerise = {
  name: string;
  img: string;
};

export type Props = {
  exercise: Excerise;
  class?: AstroBuiltinAttributes['class:list'];
};

const { exercise, class: classList, ...props } = Astro.props;
---

<Card
  className={`exercise-card shadow-sm cursor-pointer group/card ${classList}`}
  {...props}
>
  <div
    class="h-24 lg:h-32 w-full object-cover rounded-t-lg relative overflow-hidden"
  >
    <img
      src={exercise.img}
      alt={exercise.name}
      class="h-full w-full object-cover rounded-t-lg group-hover/card:scale-110 transition-transform duration-500"
    />
  </div>
  <CardHeader className="p-2">
    <CardTitle>{exercise.name}</CardTitle>
    <CardDescription>
      {m.exerciseCardRecordCount({ rpCount: 2, exerciseCount: 23 })}
    </CardDescription>
  </CardHeader>
</Card>
