---
import { ModeToggleSingle } from '../ModeToggleSingle';
---

<div class="flex w-full p-6 justify-between gap-4">
  <div class="flex flex-col flex-1 justify-center">
    <p class="text-sm">Good morning ☀️</p>
    <p class="text-2xl font-bold">Hanna Montana</p>
  </div>
  <div class="flex justify-center items-center gap-6">
    <ModeToggleSingle client:load />
    <img
      src="https://avatar.iran.liara.run/public/72"
      alt=""
      class="object-cover w-16 h-16 rounded-full"
    />
  </div>
</div>
